<ion-content padding class='home-page'>

    <!-- Logotipo -->
    <img src="assets/general/logo.png" class="logo-img">

    <ion-list>
        <audio-track #audio *ngFor="let track of audios" [track]="track">
        	<ion-item class='audio-item'>

                <ion-thumbnail item-left>
                    <ion-avatar><img src="{{track.art}}"></ion-avatar>
                    <audio-track-play dark [audioTrack]="audio"></audio-track-play>
                </ion-thumbnail>

        		{{track.name}}

        	</ion-item>
        </audio-track>
    </ion-list>

</ion-content>
