.home-page {
	background-color: #005ca1;
}

.audio-item {
	background-color: transparent;
	color: white;
}

.logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  width: 50%;
}
